@model Utube.Models.Video

@{
    ViewBag.Title = "ShowVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Показать видео видео</h2>

<div>
    <h4>Видео</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profileid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profileid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Videotitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Videotitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vlink)
        </dt>

        <dd>
            <iframe width="560" height="315" src="@Model.Vlink" frameborder="0" allowfullscreen></iframe>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datein)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datein)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Like)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Like)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dislike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dislike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Views)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Views)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("На главную", "Index")
</p>
